<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ question.question_text }} detail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <h2>{{ question.question_text }}</h2>
    <p>Author: {{ question.question_author }}</p>
    {% if question.choice_set.all %}
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
            <br>
        {% endfor %}
        <input type="submit" value="Vote">
    </form>
    {% else %}
    <h4>there are no choices for this poll</h4>
    {% endif %}
</body>
</html>